@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes color-change1 {
    0% { color: #1effa9; }
    33% { color: #FFD700; }
    66% { color: #00f900; }
    100% { color: #1effa9; }
}

@keyframes color-change2 {
    0% { color: #FFD700; }
    33% { color: #00f900; }
    66% { color: #1effa9; }
    100% { color: #FFD700; }
}

@keyframes color-change3 {
    0% { color: #00f900; }
    33% { color: #1effa9; }
    66% { color: #FFD700; }
    100% { color: #00f900; }
}

.tagcloud--item:nth-child(1) {
    animation: color-change1 10s infinite
}

.tagcloud--item:nth-child(2) {
    animation: color-change2 10s infinite
}

.tagcloud--item:nth-child(3) {
    animation: color-change3 10s infinite
}

.tagcloud--item:nth-child(4) {
    animation: color-change1 10s infinite
}

.tagcloud--item:nth-child(5) {
    animation: color-change2 10s infinite
}

.tagcloud--item:nth-child(6) {
    animation: color-change3 10s infinite
}

.tagcloud--item:nth-child(7) {
    animation: color-change1 10s infinite
}

.tagcloud--item:nth-child(8) {
    animation: color-change2 10s infinite
}

.tagcloud--item:nth-child(9) {
    animation: color-change3 10s infinite
}

.tagcloud--item:nth-child(10) {
    animation: color-change1 10s infinite
}

.tagcloud--item:nth-child(11) {
    animation: color-change2 10s infinite
}

.tagcloud--item:nth-child(12) {
    animation: color-change3 10s infinite
}

.tagcloud--item:hover {
    animation-name: none;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}

@keyframes color-change11 {
    0% { color: #1effa9; }
    25% { color: #FFD700; }
    50% { color: #f90053; }
    75% { color: #00f900; }
    100% { color: #1effa9; }
}

@keyframes color-change12 {
    0% { color: #FFD700; }
    25% { color: #f90053; }
    50% { color: #00f900; }
    75% { color: #1effa9; }
    100% { color: #FFD700; }
}

@keyframes color-change13 {
    0% { color: #f90053; }
    25% { color: #00f900; }
    50% { color: #1effa9; }
    75% { color: #FFD700; }
    100% { color: #f90053; }
}

@keyframes color-change14 {
    0% { color: #00f900; }
    25% { color: #1effa9; }
    50% { color: #FFD700; }
    75% { color: #f90053; }
    100% { color: #00f900; }
}

span.animated:hover {
    animation: color-change11 3s infinite;
    font-weight: bold;
    font-size: 1.05em;
}

.cursor {
    font-weight: lighter;
    animation: blink 1s step-end infinite;
}
  
@keyframes blink {
    from, to { color: transparent }
    50% { color: white }
}

@property --gradient-angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotation {
    0% { --gradient-angle: 0deg; }
    100% { --gradient-angle: 360deg; }
}

.image-box {
    width: 20rem;
    height: 20rem;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border-radius: 10px;
    position: relative;
    transition: transform 0.2s ease-in-out;
}

.image-box:hover {
    transform: scale(1.05); /* Add this line */
}

.image-box::before {
    content: "";
    background: conic-gradient(from var(--gradient-angle), red, yellow, lime, cyan, blue, magenta, red);
    position: absolute;
    height: 20rem;
    width: 20rem;
    border-radius: 10px;
    filter: blur(7px);
    animation: rotation 2s linear infinite;
    transition: transform 0.2s ease-in-out;
}

.image-box::after {
    content: "";
    position: absolute;
    background-size: cover; /* Add this line */
    background-position: center; /* Add this line */
    width: 19rem;
    height: 19rem;
    border-radius: 10px;
    top: 2.5%;
    left: 2.5%;
    transition: transform 0.2s ease-in-out;
}

#box1::after {
    background-image: url("./_text_summarizer.png");
}

#box2::after {
    background-image: url("./_graph_api.png");
}

#box3::after {
    background-image: url("./_huffman_coding.png");
}

#box4::after {
    background-image: url("./_coin_box.png");
}

#box5::after {
    background-image: url("./_speed_reader.png");
}

.image-box:hover::before, .image-box:hover::after {
    transform: scale(1.05); /* Add this line */
}

.profile-box {
    width: 21rem;
    height: 21rem;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border-radius: 50%;
    position: relative;
    transition: transform 0.2s ease-in-out;
}

.profile-box::before {
    content: "";
    background: conic-gradient(from var(--gradient-angle), red, yellow, lime, cyan, blue, magenta, red);
    position: absolute;
    height: 21rem;
    width: 21rem;
    border-radius: inherit;
    filter: blur(7px);
    animation: rotation 2s linear infinite;
    transition: transform 0.2s ease-in-out;
}

.profile-box::after {
    content: "";
    background-image: url("./profile.jpeg");
    position: absolute;
    background-size: cover; /* Add this line */
    background-position: center; /* Add this line */
    width: 19rem;
    height: 19rem;
    border-radius: inherit;
    top: 5%;
    left: 5%;
    transition: transform 0.2s ease-in-out;
}

.profile-box:hover {
    transform: scale(1.05); /* Add this line */
}

.profile-box:hover::before, .profile-box:hover::after {
    transform: scale(1.05); /* Add this line */
}